* {
    font-family: sans-serif;
    font-size: 100%;
    box-sizing: border-box;
  }

body{
    background: black;
}

html {
    margin: 2rem;
  }

menu .nav-item {
    padding: 0 0.3em;
    font-size: 150%;
}

.nav-link{
    color: black;
}

.navbar-brand{
    border-bottom: solid gray thick;
}