li{
    text-align: left;
}

.quote-box {
    height: calc(100px + 1em);
    margin-top: 1em;
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 5px;
    background-color:rgb(255, 252, 240);
    color: black;
  }

.fontsizer{
    font-size: 150%;
}

.yellow{
    color: rgb(188, 188, 4);
}

.red{
    color: red;
}

#table-data {
    background-color: #eee;
    width: 80%px;
  }
  
td, th{
    color: black;
    text-align: center;
    border: rgb(57, 10, 10) solid thick;
    padding: 3em;
  }

.tabform {
    background: gray;
    padding: 0.25em;
    margin-bottom: 0.5em;
    color: white;
  }

td.yellow{
    background-color: yellow;
}

td.red{
    background-color: red;
}