table{
    background-color:rgb(49, 115, 146);
    border-collapse: collapse;
    table-layout: fixed;
    width: 80%;
}

th{
    font-size: large;
    text-overflow: ellipsis;
    overflow: hidden;
}

tr{
    font-size: medium;
}

td {
    max-width: 40vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }