* {
    font-family: sans-serif;
    font-size: 100%;
  }


.body {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 375px;
  }

.header{
    flex: 0 80px;
}

main{
    flex: 1 calc(100vh - 140px);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: rgb(74, 71, 71);
    color: white;
}

footer {
    flex: 0 30px;
}

menu .nav-item {
    padding: 0 0.3em;
    font-size: 150%;
    flex-direction: row !important;
}

.nav-link{
    color: black;
}

.navbar-brand{
    border-bottom: solid gray thick;
}

.custom-padding{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.white-bold-text{
    color:  white;
    font-weight: bold;
}

.githublink{
    padding-right: 10px;
}

.name{
    padding-left: 10px;
}

@media (orientation: portrait) {
    header {
        flex-direction: column;
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
  }

@media (max-height: 600px) {
    header {
        flex-direction: column;
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
  }